<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    @RenderSection("headScripts", required: false)
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <div>
            @Html.Action("navigation", "layout")
            <div class="p-3">
                @RenderBody()
            </div>
        </div>

        @Html.Action("footer", "layout")

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
